<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
</head>
    <body>
        <header><img src="/img/logo-black.svg" alt="логотип Medowlark"></header>
    {{{body}}}
    </body>
</html>