<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
</head>
    <body>
        <header><a href="/"><img src="/img/logo-black.svg" alt="логотип Medowlark"></a></header>
    {{{body}}}
    </body>
</html>