<h1>
  About Medowlark Travel
</h1>
<p>
  Твое предсказание на сегодня:
</p>
<blockquote>
  {{fortune}}
</blockquote>
<br />
<blockquote>
  {{style}}
</blockquote>
<br />
<blockquote>
  {{userid}}
</blockquote>
<br />
<blockquote>
  {{username}}
</blockquote>
<br />
<a href="/contact">
  Контакты
</a>